*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: rgb(33, 33, 33);
	min-height: 100vh;
}

.navBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #3FFB42;
    background: linear-gradient(101deg, rgba(34,200,37,1) 0%, rgba(63,251,66,1) 50%, rgba(34,200,37,1) 100%);
    height: 70px;
    margin-bottom: 20px;
}

.iconCart {
    width: 30px;
    height: 30px;
}

.bubbleCart {
    background-color: rgba(255, 0, 0, 0.843);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
}

.menu {
	width: 280px;
	display: flex;
	justify-content: space-evenly;
}

.box-home {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.img-box {
	width: 80%;
	height: 350px;
	background-image: url('./assets/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 30px;
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.title-home {
	font-size: 50px;
	margin-top: 50px;
	color: whitesmoke;
	text-align: center;
}

.box-itemList{
	width: 90%;
	height: 100vh;

}

.itemCardBox{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
}

.cardBox {
	border-radius: 15px;
	width: 200px;
	height: 350px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.box-img {
	width: 140px;
	height: 100px;
	background-color: #3FFB42;
	display: flex;
	justify-content: center;
}

.cardImage {
	background-color: #3FFB42;
	background-size: cover;
}

.box-itemList {
	display: flex;
	justify-content: center;
}

.cardBox-detail {
	background-color: white;
	box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
	border-radius: 20px;
	width: 50%;
	height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.titleCard-detail {
	font-size: 32px;
}

.cardDescription-detail {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 20px;
	width: 80%;
}


.cardImage-detail {
	width: 300px;
}

.footerCard-detail {
	width: 90%;
	display: flex;
	justify-content: space-evenly;
}
.leftFooter {
	width: 50%;
	border-right: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}
.rightFooter {
	width: 50%;
}

.rightFooter {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.cartShopping {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	min-height: 100vh;
}

.itemCartBox {
	width: 80%;
	height: 160px;
	background-color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.itemCartBox img {
	width: 180px;
	padding-left: 40px;
}


.footerShopping {
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 90px;
	background-color: white;
	border-radius: 30px;
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}


.formBox {
	width: 80%;
	border-radius: 30px;
	background-color: white;
	
}

.infoCompra {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	gap: 15px;
	margin: 10px 0;
}

.titulosProductosCompra{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titleYcantidad {
	display: flex;
	width: 60%;
	justify-content: space-evenly;
}